AWS_ACCOUNT_ID=000000000000
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_SESSION_TOKEN=test
QUEUE_HOST_URL=http://localhost:4566
SNS_TOPIC_NAME=checkout-events
QUEUE_LOG_NAME=queue-logging
QUEUE_RESILIENT_NAME=queue-resilient
QUEUE_RESILIENT_FINAL_DLQ_NAME=queue-resilient-final-dlq
IDEMPOTENCY_TABLE_NAME=idempotency-checkout
LOCALSTACK_AUTH_TOKEN=?